---
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import Header from "../../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";

const posts = (await getCollection("blog")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="antialiased tracking-tight">
    <div class="min-h-screen flex flex-col justify-between pt-10 md:pt-8 p-8 dark:bg-zinc-950 bg-white text-gray-900 dark:text-zinc-200">
      <main class="max-w-[60ch] mx-auto w-full">
			<Header />
			<h1 class="text-2xl pl-2 py-5">Archive</h1>
			<section class="pl-2">
				<ul class="space-y-2">
					{
					posts.map((post) => (
						<li class="flex flex-row items-baseline space-x-4">
						<p class="text-gray-500 shrink-0 w-30">
							<FormattedDate date={post.data.pubDate} />
						</p>
						<a
							href={`/blog/${post.id}/`}
							class="hover:underline"
						>
							{post.data.title}
						</a>
						</li>
					))
					}
				</ul>
			</section>
			<Footer />
		</main>
	</div>
	</body>
</html>
