---
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import Header from "../../components/Header.astro";
import ThemeToggle from "../../components/ThemeToggle.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";

const posts = (await getCollection("blog", ({ data }) => data.isdrift !== true)).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="antialiased tracking-tight font-sans">
    <ThemeToggle />
    <div class="min-h-screen flex flex-col pt-10 md:pt-8 p-8 bg-[var(--app-bg)] text-[var(--app-text)]">
      <main class="max-w-[var(--layout-main-max)] mx-auto w-full flex flex-col flex-1">
			<Header />
			<h1 class="text-2xl pl-2 py-5">Archive</h1>
			<section class="pl-2">
				<ul class="space-y-1">
					{
					posts.map((post) => (
						<li>
							<a
								href={`/blog/${post.id}/`}
								class="block rounded-md px-1 hover:bg-zinc-200/30 dark:hover:bg-zinc-700/25"
							>
								<p class="text-xs text-[var(--app-text-muted)]">
									<FormattedDate date={post.data.pubDate} />
								</p>
								<p class="text-2xl font-semibold text-[var(--app-text-heading)]">
									{post.data.title}
								</p>
							</a>
						</li>
					))
					}
				</ul>
			</section>
			<Footer />
		</main>
	</div>
	</body>
</html>
